/* *{
    outline: 1px red solid;
} */

/* .fix{
    position: fixed;
    z-index: 99;
} */

.navbar{
    background-color: rgba(47, 54, 64, .5);
}

.page-footer,.top-nav-collapse{
    background-color: rgba(47, 54, 64, 1);
}

@media only screen and (max-width: 768px){
    .navbar{
        background-color:rgba(47, 54, 64, 1);
    }
}

.clr-custom{
    /* color: #222f3e; */
    color: #9c88ff;
}


::selection {color: white; background:black;}
::-moz-selection {color: white; background:black;}
::-webkit-selection {color: white; background:black;}

.header__logo{
    height: 7vh;
}

.header__text{
  font-weight: 400;
}

.preloader-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.preloader-background > .preloader{
    position: relative;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}   

.coaches{
    background: url(../img/my/memphis-colorful.png);
}

.contact{
    background-color: #f5f6fa;
}



