
::selection {color: white; background:black;}
::-moz-selection {color: white; background:black;}
::-webkit-selection {color: white; background:black;}

.header__logo{
    height: 7vh;
}

.header__text{
  font-weight: 400;
}

.preloader-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 9999;
}

.preloader-background > .preloader{
    position: relative;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}   




